{% extends 'website/base.html' %}
{% load static %}

<!-- Title of the page -->
{% block title %}
Développement
{% endblock title %}

<!-- Body of the page -->
{% block body %}
<div class="host-hero">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1>Building the right <span>software</span><br>for your every day<br>improvements...</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'website/img/development/dev-bg2.png' %}" alt="hosting" class="img-fluid">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-capitalize fw-bold mt-5">Why do we do this?</h1>
            <p class="mt-3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis odio expedita mollitia atque ipsam, in
                sed sint
                cupiditate vero vel nisi explicabo, omnis nulla itaque porro ducimus possimus dolores dolorem
                consequuntur repellendus
                provident alias molestiae consectetur officiis. Assumenda obcaecati, nesciunt optio pariatur voluptates
                officia libero
                consequuntur aut, esse aliquid architecto.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis
                odio expedita mollitia atque ipsam, in sed sint
                cupiditate vero vel nisi explicabo, omnis nulla itaque porro ducimus possimus dolores dolorem
                consequuntur repellendus
                provident alias molestiae consectetur officiis. Assumenda obcaecati, nesciunt optio pariatur voluptates
                officia libero
                consequuntur aut, esse aliquid architecto.
            </p>
        </div>
    </div>
</div>

<div class="dev-why mt-5 p-5 text-center">
    <h4>Why choose us?</h4>
    <p class="w-50 m-auto">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit non ipsam dicta! Quam veritatis nisi
        voluptatibus odio minus sunt magnam perferendis ab laudantium aut, repellat, numquam eius tempora molestias
        maiores.
    </p>
</div>

<!-- ======= Values Section ======= -->
<section id="values" class="values">
    <div class="container">

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                <div class="card" style="background-image: url(../../static/website/img/development/values-1.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Analyse detaillee de vos besoins</a></h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut
                            labore et dolore magna aliqua.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                <div class="card" style="background-image: url(../../static/website/img/development/values-2.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Conception graphique</a></h5>
                        <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque
                            laudantium, totam rem.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card" style="background-image: url(../../static/website/img/development/values-3.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Experience Utilisateur (UI/UX)</a></h5>
                        <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia
                            magni dolores.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card" style="background-image: url(../../static/website/img/development/values-4.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Site Internet Cle en main</a></h5>
                        <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                            laudantium voluptatem.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="200">
                <div class="card" style="background-image: url(../../static/website/img/development/values-2.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Assistance et Support</a></h5>
                        <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia
                            magni dolores.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="300">
                <div class="card" style="background-image: url(../../static/website/img/development/values-1.jpg);">
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Respect du budget</a></h5>
                        <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam
                            laudantium voluptatem.</p>
                        <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Values Section -->

<section class="category bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'website/img/development/dev-img.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="cat-text pt-5">
                    <h2 style="color: #ff6600;">Lorem Ipsum Hosting</h2>
                    <h5 style="color: #fff;"">Lorem ipsum small</h5>
                    <p style=" color: #fff;"">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur
                        cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum
                        velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat
                        vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus
                        dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa
                        aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut,
                        tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                        </p>
                </div>
                <!-- ======= Clients Section ======= -->
                <section id="clients" class="clients">
                    <div class="container" data-aos="fade-up">

                        <div class="clients-slider swiper" style="padding: 3% 0;">
                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-1.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-2.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-3.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-4.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-5.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-6.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-7.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-8.png' %} "
                                        class="img-fluid" alt=""></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </section>
                <!-- End Clients Section -->
            </div>
        </div>
    </div>
</section>

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="cat-text pt-5">
                    <h2>Lorem Ipsum Hosting</h2>
                    <h5>Lorem ipsum small</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur
                        cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum
                        velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat
                        vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus
                        dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa
                        aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut,
                        tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                        </p>
                </div>
                <!-- ======= Clients Section ======= -->
                <section id="clients" class="clients">
                    <div class="container" data-aos="fade-up">

                        <div class="clients-slider swiper" style="padding: 3% 0;">
                            <div class="swiper-wrapper align-items-center">
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-1.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-2.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-3.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-4.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-5.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-6.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-7.png' %} "
                                        class="img-fluid" alt=""></div>
                                <div class="swiper-slide"><img src=" {% static 'website/img/clients/client-8.png' %} "
                                        class="img-fluid" alt=""></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </section>
                <!-- End Clients Section -->
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'website/img/development/dev-img2.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="why-section bg-dark text-center">
    <div class="container">
        <div class="row">
            <h3 class="mb-5">Pourquoi choisir BEACON SYSTEMS</h3>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <i class="bi bi-clock"></i>
                <h5><span>1.</span> Votre temps est precieux</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa velit odit, obcaecati magni eos a. Facilis et
                    incidunt maiores ad, asperiores consequuntur dolorum animi nostrum sed? Beatae, non accusantium?
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <i class="bi bi-person"></i>
                <h5><span>2.</span> Interlocuteur Unique</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa velit odit, obcaecati magni eos a. Facilis et
                    incidunt maiores ad, asperiores consequuntur dolorum animi nostrum sed? Beatae, non accusantium?
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <i class="bi bi-cash-coin"></i>
                <h5><span>3.</span> Budget engage & respecte</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa velit odit, obcaecati magni eos a. Facilis et
                    incidunt maiores ad, asperiores consequuntur dolorum animi nostrum sed? Beatae, non accusantium?
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <i class="bi bi-aspect-ratio"></i>
                <h5><span>4.</span> Sites Responsive</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa velit odit, obcaecati magni eos a. Facilis et
                    incidunt maiores ad, asperiores consequuntur dolorum animi nostrum sed? Beatae, non accusantium?
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock body %}