{% extends 'website/base.html' %}
{% load static %}

<!-- Title of the page -->
{% block title %}
    Développement
{% endblock title %}

<!-- Body of the page -->
{% block body %}
<div class="host-hero">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1>The perfect <span>plans</span><br>for your Innovating <br>Ideas...</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'website/img/development/dev-bg.png' %}" alt="hosting" class="img-fluid">
        </div>
    </div>
</div>
{% endblock body %}