{% extends 'website/base.html' %}
{% load static %}

<!-- Title of the page -->
{% block title %}
hosting
{% endblock title %}

<!-- Body of the page -->
{% block body %}
<div class="host-hero">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1>The perfect <span>plans</span><br>for your Innovating <br>Ideas...</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'website/img/hosting/hosting.png' %}" alt="hosting" class="img-fluid">
        </div>
    </div>
</div>

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="cat-text pt-5">
                    <h2>Lorem Ipsum Hosting</h2>
                    <h5>Lorem ipsum small</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut, tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <!-- ======= Pricing Section ======= -->
                <section id="pricing" class="pricing">

                        <div class="row">

                            <div class="col-lg-3 col-md-6" data-aos="fade-up">
                                <div class="box">
                                    <h3>Free</h3>
                                    <h4><sup>$</sup>0<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li class="na">Pharetra massa</li>
                                        <li class="na">Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                                <div class="box featured">
                                    <h3>Business</h3>
                                    <h4><sup>$</sup>19<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li class="na">Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                <div class="box">
                                    <h3>Developer</h3>
                                    <h4><sup>$</sup>29<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li>Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="box">
                                    <span class="advanced">Advanced</span>
                                    <h3>Ultimate</h3>
                                    <h4><sup>$</sup>49<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li>Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                </section><!-- End Pricing Section -->
            </div>
        </div>
    </div>
</section>

<section class="category bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="cat-text pt-5">
                    <h2 style="color: #ff6600;">Lorem Ipsum Hosting</h2>
                    <h5 style="color: #fff;"">Lorem ipsum small</h5>
                    <p style="color: #fff;"">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut, tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <!-- ======= Pricing Section ======= -->
                <section id="pricing" class="pricing">

                        <div class="row">

                            <div class="col-lg-3 col-md-6" data-aos="fade-up">
                                <div class="box">
                                    <h3>Free</h3>
                                    <h4><sup>$</sup>0<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li class="na">Pharetra massa</li>
                                        <li class="na">Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                                <div class="box featured">
                                    <h3>Business</h3>
                                    <h4><sup>$</sup>19<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li class="na">Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                <div class="box">
                                    <h3>Developer</h3>
                                    <h4><sup>$</sup>29<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li>Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="box">
                                    <span class="advanced">Advanced</span>
                                    <h3>Ultimate</h3>
                                    <h4><sup>$</sup>49<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li>Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                </section><!-- End Pricing Section -->
            </div>
        </div>
    </div>
</section>

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="cat-text pt-5">
                    <h2>Lorem Ipsum Hosting</h2>
                    <h5>Lorem ipsum small</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut, tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <!-- ======= Pricing Section ======= -->
                <section id="pricing" class="pricing">

                        <div class="row">

                            <div class="col-lg-3 col-md-6" data-aos="fade-up">
                                <div class="box">
                                    <h3>Free</h3>
                                    <h4><sup>$</sup>0<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li class="na">Pharetra massa</li>
                                        <li class="na">Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
                                <div class="box featured">
                                    <h3>Business</h3>
                                    <h4><sup>$</sup>19<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li class="na">Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
                                <div class="box">
                                    <h3>Developer</h3>
                                    <h4><sup>$</sup>29<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li>Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                                <div class="box">
                                    <span class="advanced">Advanced</span>
                                    <h3>Ultimate</h3>
                                    <h4><sup>$</sup>49<span> / month</span></h4>
                                    <ul>
                                        <li>Aida dere</li>
                                        <li>Nec feugiat nisl</li>
                                        <li>Nulla at volutpat dola</li>
                                        <li>Pharetra massa</li>
                                        <li>Massa ultricies mi</li>
                                    </ul>
                                    <div class="btn-wrap">
                                        <a href="#" class="btn-buy">Buy Now</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                </section><!-- End Pricing Section -->
            </div>
        </div>
    </div>
</section>
{% endblock body %}