{% extends 'website/base.html' %}
{% load static %}

<!-- Title of the page -->
{% block title %}
Développement
{% endblock title %}

<!-- Body of the page -->
{% block body %}
<div class="host-hero">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h1>Start with a plan<br>and finish <br>with <span>results</span></h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="{% static 'website/img/marketing/marketing-bg.png' %}" alt="hosting" class="img-fluid">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-capitalize fw-bold mt-5">Why do we do this?</h1>
            <p class="mt-3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis odio expedita mollitia atque ipsam, in
                sed sint
                cupiditate vero vel nisi explicabo, omnis nulla itaque porro ducimus possimus dolores dolorem
                consequuntur repellendus
                provident alias molestiae consectetur officiis. Assumenda obcaecati, nesciunt optio pariatur voluptates
                officia libero
                consequuntur aut, esse aliquid architecto.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis
                odio expedita mollitia atque ipsam, in sed sint
                cupiditate vero vel nisi explicabo, omnis nulla itaque porro ducimus possimus dolores dolorem
                consequuntur repellendus
                provident alias molestiae consectetur officiis. Assumenda obcaecati, nesciunt optio pariatur voluptates
                officia libero
                consequuntur aut, esse aliquid architecto.
            </p>
        </div>
    </div>
</div>

<section class="category bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'website/img/development/dev-img.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="cat-text pt-5">
                    <h2 style="color: #ff6600;">Lorem Ipsum Hosting</h2>
                    <h5 style="color: #fff;"">Lorem ipsum small</h5>
                    <p style=" color: #fff;"">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur
                        cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum
                        velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat
                        vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus
                        dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa
                        aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut,
                        tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="cat-text pt-5">
                    <h2>Lorem Ipsum Hosting</h2>
                    <h5>Lorem ipsum small</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur
                        cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum
                        velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat
                        vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus
                        dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa
                        aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut,
                        tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                        </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'website/img/development/dev-img2.png' %}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="category bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <img src="{% static 'website/img/development/dev-img.png' %}" alt="" class="img-fluid">
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="cat-text pt-5">
                    <h2 style="color: #ff6600;">Lorem Ipsum Hosting</h2>
                    <h5 style="color: #fff;"">Lorem ipsum small</h5>
                    <p style=" color: #fff;"">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, est perferendis. Id consequatur
                        cumque ea optio
                        perspiciatis asperiores, minima culpa, delectus magni nulla excepturi dolores pariatur rerum
                        velit quae eos eaque ullam
                        nobis incidunt facilis unde. Quo suscipit asperiores omnis voluptatem eius eaque nisi repellat
                        vitae, officiis
                        temporibus est architecto explicabo repudiandae facere! Ipsa rerum magnam error, accusamus
                        dolores reiciendis quisquam
                        accusantium deserunt ad, mollitia ipsum eos dignissimos, possimus quia repudiandae omnis a culpa
                        aperiam ab porro libero
                        necessitatibus aliquam optio. Quisquam, ad animi ut fuga iusto consequatur inventore ipsam aut,
                        tempore repudiandae et
                        officia quia nam, asperiores laudantium! Maiores?
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">


      <div class="section-title">
        <h5>Still worried?</h5>
        <h3 class="text-capitalize">Get some <span>F.A.Q</span>s.</h3>
        <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="faq-list">
        <ul>
          <li data-aos="fade-up">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in.
              </p>
            </div>
          </li>

          <li data-aos="fade-up" data-aos-delay="400">
            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque.
              </p>
            </div>
          </li>

        </ul>
      </div>

    </div>
  </section><!-- End F.A.Q Section -->
{% endblock body %}