<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edgi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/fonts/css/all.min.css">
    <link rel="stylesheet" href="assets/fonts/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/index.css">
</head>
<body>

    <header>
        <div class="navBar">
            <div class="logo">
                <img src="assets/images/black-square-adv.png" alt="Image du logo de beacom" style="width:70px; height: 60px;">
            </div>
            <div class="nav">
                <ul>
                    <li><a href="#">Acceuille</a></li>
                    <li><a href="#">services + </a>
                        <ul>
                            <li><a href="#">lorem1</a></li>
                            <li><a href="#">lorem2</a></li>
                            <li><a href="#">lorem3</a></li>

                        </ul>
                    </li>
                    <li><a href="#">produits</a></li>
                    <li><a href="#">contact</a></li>

                </ul>
            </div>
            <div class="number">
                <a href="#"><i class="fab fa-whatsapp" style="color: green;"></i> (+237) 674-043-734</a> 
            </div>
        </div>
    </header>

    <div class="landing">
        <div class="title">
            transformation digital des <br> entreprises
            <div class="landingSubtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, omnis. <br>
                lorem7
            </div>
    </div>
    <div class="container entreprise">
        <div class="text ">
            <h1>
                entreprise de developement web sur mesure a paris
            </h1>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae adipisci magni aliquid debitis perspiciatis nisi, harum quo placeat. Odio similique dolore consequatur quam ullam nam consectetur aspernatur porro. Odio odit earum deleniti ut, alias porro obcaecati sunt, aliquam voluptas, natus pariatur voluptatum. Nobis animi illum illo quasi laudantium deleniti deserunt.
        </div>
        <div class="image">
            <img src="assets/images/logo.png" alt="petite images" style="max-width: 300px;">
        </div>
    </div>
<div class="devi">
    DEVIS GRATUIT <i class="fa fa-arrow-a"></i>
</div>
    <footer>
        <div class="container footerContainer">
            <div class="footerItem">
                <div class="logo">
                    <img src="assets/images/black-square-adv.png" alt="Image du logo de beacom" style="width:70px; height: 60px;">
                </div>
                <h3>A Propos De Nous</h3>
                <div class="aPropos">
            rum velit eum non accusamus delectus ipsam vel porro provident veniam.
                </div>
            </div>
            <div class="footerItem">
                <h3>
                    Contact
                </h3>
                <div class="contact">
                    <a href="#">
                        <i class="fa fa-map-marker" aria-hidden="true" style="color: white;"> Location bobobogo</i>
                    </a> <br>
                    <a href="#">
                        <i class="fa-solid fa-phone" style=""> phone number</i>
                    </a>
                </div>
            </div>
            <div class="footerItem services">
                <h3>
                    Services
                </h3>
                <ul>
                    <li>
                        <a href="#">Deveelopement d'aplication web et mobile</a>
                    </li>
                    <li>
                        <a href="#">Marketing Digital</a>
                    </li>
                    <li>
                        <a href="#">Hebergement</a>
                    </li>
                </ul>
            </div>
            <div class="footerItem plan">
                <h3>
                    Plan
                </h3>
                <ul>
                    <li>
                        <a href="#">contact</a>
                    </li>
                    <li>
                        <a href="#">Nos Aplication</a>
                    </li>
                    <li>
                        <a href="#">Contacter nous:</a>
                    </li>
                    <li>
                        Suivez nous : 
                        <a href="">
                            <span> <i class="fab fa-facebook-f" style="color: white;">  </i> </span>
                        </a><a href="">
                            <span> <i class="fab fa-linkedin-in" style="color: white;"></i> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="legal">
            <div class="infolegal">
                <center>
                    <span>ligne1</span> <br>
                    <span>ligne2</span> <br>
                    <span>ligne3</span> <br>
                    <span>ligne4</span>
                </center>
            </div>
        </footer>
        </div>
    
    <script src="assets/js/main.js"></script>
</body>
</html>