*{
    box-sizing: border-box;
    font: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* color: black; */
    font-size: 20px;
    overflow-wrap: break-word;
}


/* the landing */
.landing{
    /* background-image: url("./../images/carrots.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}
.landing .title{
    color: aliceblue;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 50px;
    margin: 20px;
    padding: 80px;
    padding-bottom: none;
}
.landingSubtitle{
    color: aliceblue;
    padding-top: none;
    margin-top: 15px;
    font-weight: 400;
}
.devi{
    position: fixed;
    top: 50%;
    right: 05%;
    min-height: 40px;
    justify-content: center;
    color: aliceblue;
    font-size: medium;
    font-size: 15px;
    margin: 2px;
    padding-top: 10px;
    border: 0px solid ;
    border-radius: 05px;
    background-color:  #FF6600;
    opacity: 0.75;
}
/* the entreprise description */

.container,.entreprise{
    max-width: 100%;
    width: 90%;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,45%);
    justify-content: center;
    border: 2px;
    grid-gap: 10px;

}


.strategigie{
    font-size: 18PX;
}
/* this part is for the footer */

.tecknologie{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill,23%);
    justify-content: center;
    grid-gap: 5px;
    margin: 2px;
}
.testifie{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap: 10px;
    margin: 2px;
}
.tecknologie{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap: 10px;
    margin: 2px;    
}
.partenaires{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap: 10px;   
}
/* .carousel-image {
    max-height:600px;
} */
.carousel-imtem img{
    max-height: 600px;
    min-width:1200px;
}
.testifie .testimonial{
    width: 100%;
    margin: 5px;
}
.comtainer,.titre{
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
}
.comtainer,.partnaireDescription{
    font-size: medium;
    font-weight: 300;
}
.deviGratuit{
    color: #FF6600;
    border: 2px solid #FF6600;
    border-radius: 20px;
    width: fit-content;
    margin: 5px;
    padding: 5px;
}
.presentationServices{
    width:  100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,500px);
    grid-gap: 15px;
}
.presentationServices .leslide{
    margin: 5px;
    padding: 5px;
}
.solutionDetaille .redText{
    color: #FF6600;
    /* font-weight: 400; */
}
@media (max-width:500px) {
    .comtainer,.titre{
        font-size: large;
        font-weight: 700;
    text-align: center;
} 
}


.footerContainer{
    width: 100%;
    /* display: grid; */
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap: 5px;
    /* justify-content: space-evenly; */
    color: white;
    background-color: #000;
    background-color:#000;
    /* grid-gap: 10px; */
}
footer .footerItem{
    /* max-width: 23%; */
    color: white;
    margin: 5px;
}
footer .aPropos{
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    color: aliceblue;
}
footer .footerItem h3{
    color: aliceblue;
}
footer .footerItem .contact a i{
    opacity:0.9;
    font-size: 015px;
    color: aliceblue;
}
.footerIte,.services ul{
    list-style: none;
}
.footerIte,.services ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    margin: 2px;
    padding: 1px
}
.footerItem ,.plan ul{
    color: aliceblue;
    list-style: none;
}
.footerItem ,.plan ul li a{
    color: aliceblue;
    text-decoration: none;
}
.footerItem ,.plan ul li {
    color: aliceblue;
    margin: 2px;
    padding: 1px;
    text-decoration: none;
}

/* info legale */

.infolegal span{
    color: aliceblue;
    font-size: large;
    min-width: 100%;
}
.legal{
    background-color: #000;
}